.active {
    text-decoration: none;
    background-color: white;
    color: #0E1333;
    font-family: 'Gilroy-ExtraBold';
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;

}

.active:hover {
    background-color: #0E1333;
    color: #fff;
}